*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    /* color: white; */
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    color: #059e63;
}

nav ul{ 
    /* background: #000000; */
    list-style-type: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
    text-decoration: none;
}

.dropdownmenu a {
	/* background: #000000; */
	color: #059e63;
	display: block;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

.dropdownmenu li:hover a{
    /* background: #19d66e; */
    background: #059e63;
}

#submenu2 {
	opacity: 0;
	position: absolute;
	top: 5px;
	visibility: hidden;
	z-index: 1;
    display: block;
    width: 100%;
}

li:hover ul#submenu2 {
	opacity: 1;
	top: 42px;
	visibility: visible;
}

#submenu2 li {
	float: none;
}

#submenu2 a:hover {
	/* background: #19d66e; */
	background: #059e63;
}

#submenu2 a {
	background:#000000;
}

.seleccionado{
    background-color: red;
}

.sinFondo{
    /* background: url("../../recursos/imagenes/fondo_paginas2.jpg"); */
    background-size: cover;
    background-position: center top;
    padding: 1em 0;
    height:  85vh;
}

.sinFondo p{
    text-align: center;
    font-weight: bold;
}

#formularioDatos label{
    display: block;
}

footer{
    background-color: black;
    height: 4em;
}

footer p{
    color: white;
    text-align: center;
    padding-top: 1em;
    font-size: 1.2em;
}

