*{
    padding: 0;
    margin: 0;
}

/*pagina inicio*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    /* font-size: 16px; */
}

/*hacer variables colores*/

h2{
    color: #046fb8 ;
    text-align: center;
}

main{
    margin: 6% auto;
    height: fit-content;
}

nav{
    border-bottom: 1px solid white;
    box-shadow: 2px 2px 20px 2px lightgray;
    width: 100%;
}


nav img{
    width: auto;
    height: 9vh;
    
}

nav ul#menu{
    display: flex;
    align-items: center;
    padding: 1.25em;
    margin-right: 2%;
    justify-content:flex-end;
}

nav>ul#menu li{
    display: inline;
    position: relative;
    
}

nav li a{
    color: rgba(0,0,0,.6);
    font-weight: bold;
    text-decoration: none;
    padding: 0 .5em 0 ;
}

nav li:nth-child(1){
    margin-right: auto;
}

nav li a:hover{
    animation-delay: 25s;
    text-decoration: underline;
    color: darkblue;
}

nav li:last-child{
    position: relative;
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
}

.submenu li a{
    display: block;
    width: max-content;
}

nav li:last-child:hover .submenu {
    display: block;
}

.submenu li a:hover{
    color: darkblue;
    text-decoration: none;
}

#formLogin{
    margin: auto;
    width: fit-content;
}

#formLogin label{
    width: 200px;
}

.errores{
    color: red;
    text-align: center;
    width: 60%;
    margin: 0 auto 2em;
} 

main p{
    text-align: center;
}

.enlaceP{
    text-decoration: none;
}

.enlaceP:hover{
    text-decoration: underline;
}

.botonP{
    font-size: 1em;
    text-align: center;
    background-color: #006FB8;
    width: fit-content;
    color: white;
    padding: .2em .5em;
    margin: 1em auto .1em;
    border-radius: 8%;
    text-decoration: none;
    display: block;
    border: 1px solid transparent;
}

.botonP:hover{
    background-color: white;
    color: #006FB8;
    border: 1px solid #c0c3c5;
    cursor: pointer;
}

#contenedorInicio{
    /* margin-top: 5em; */
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.seccionesInicio{
    border-radius: 5%;
    text-decoration: none;
    width: 20%;
    height: 15em;
    margin: auto;
    padding: 3em .5em;
    text-align: center;
    transition: scale 1s;
}

.seccionesInicio p{
    color: white;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.6);
}

.seccionesInicio:hover{
    scale: 1.1 1.1;
}

.seccionesInicio:nth-of-type(1){
    background-image: url("../../recursos/imagenes/noticias.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seccionesInicio:nth-of-type(2){
    background-image: url("../../recursos/imagenes/instalacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seccionesInicio:nth-of-type(3){
    background-image: url("../../recursos/imagenes/normativa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seccionesInicio:nth-of-type(4){
    background-image: url("../../recursos/imagenes/contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedorInstalaciones{
    display: flex;
    justify-content: center;
    margin: 1.5em;
}

.instalacion{
    /* border: 2px solid rgb(202, 197, 197); */
    box-shadow: 2px 2px 10px gray;
    border-radius: 3%;
    padding: 2em;
    margin: 1.5em 4em;
    text-align: center;
}

.instalacion p{
    text-align: left;
}

.instalacion img{
    width: 10em;
    height: 10em;
    padding-bottom: .5em;
}

table{
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

table th{
    background-color: #006FB8;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

table td{
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #e9eff3;
}

table tr:hover {
    background-color: #cbd3d8;
}

table img{
    width: 8em;
    height: 8em;
    border-radius: 40%;
}

table td .botonP{
    display: inline-flex;
}

#formularioDatos label{
    font-weight: bold;
    margin-left: 30%;
}

#formularioDatos p, #formularioDatos input[type="submit"]{
    text-align: left;
    margin-left: 30%;
}

#formularioDatos input{
    display: block;
}

#formularioDatos button{
    margin-left: 30%;
    display: inline-block;
}

#formularioDatos button:nth-of-type(2){
    margin-left: 1em;
}

/*CONTACTO */
#formContacto{
    width: max-content;
    margin: auto;
    padding: 1em;
}

#formContacto input{
    display: block;
    padding: .8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#formContacto textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: none;
    padding: .8em;
}

iframe{
    border: 0;
    width: 100%;
    height: 30em;
}

#reservasUsuario, #gestionarUsuarios, #gestionarInstalaciones{
    margin: auto;
    border: 1px solid black;
}

/* #gestionarInstalaciones img{
    width: 25px;
    height: 25px;
} */

footer{
    /* margin-top: 10%; */
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
}

footer div{
    padding: 5em;
    /* width: 15%; */
}

footer a{
    color: white;
}

footer a:hover{
    color: #006FB8;
}

footer li{
    margin-left: 1em ;
}


/* .contenedor{
    margin: 50% auto;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px 2px gray ;
    background-color: white;
}

main{
    padding-bottom: 1px;
}

form{
    margin: 30px auto;
    text-align: center;
}

label{
    padding: 0px 30px;
}

input[type="submit"]{
    font-size: 18px;
    margin: 10px auto; 
    font-family: inherit;
    background-color: rgba(34,193,195,1);
    color:white;
    padding: 8px;
    border: 1px solid gray;
}

input[type="submit"]:hover{
    background-color:white;
    color:rgba(34,193,195,1);
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 150px;
    float: right;
    margin-right: 30px;
}*/


/* #modal{
    position:absolute;
    width:50%;
    top:calc(50vh - 120px);
    left:calc(50vw - 25%);
    background-color:grey;
    box-sizing:border-box;
    padding:2em 3em;
    min-width:338px;
} */